@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-material: 'Material Symbols Outlined', sans-serif;

    --font-display: "Inter", "sans-serif";

    --color-primary: #13ecb6;
    --color-heading: #003366;
    --color-text-main: #333333;
    --color-text-secondary: #6c757d;
    --color-background-light: #F7F9FC;
    --color-background-dark: #10221d;
    --color-surface-light: #FFFFFF;
    --color-surface-dark: #1a2c28;
    --color-border-light: #e2e8f0;
    --color-border-dark: #334155;

    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}
